{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}


{% block body_block %}

	
	{% if category %}
		<H1 align="center">{{ category_name }}</H1>
		
		{% if pages %}
		<TABLE align="center"><TR><TD>
		<UL>
			{% for page in pages %}
			<LI><A href="{{ page.url }}" target="_blank" >{{ page.title }}</A></LI>
			{% endfor %}						
		</UL>
		</TD></TR></TABLE>
		{% else %}
			<CENTER><STRONG>No pages currently in category.</STRONG></CENTER>
		{% endif %}
		
			<!-- For Logged in Users -->
			{% if user.is_authenticated %}
			<CENTER>
				<BR>				
				<A href="/rango/category/{{ category_name_slug }}/add_page/">
					<button class="btn btn-primary" type="submit" name="submit">Add Page</button>
				</A>				
			</CENTER>
		{% endif %}
		
	{% else %}
		<CENTER>
		The specified category {{ category_name }} does not exist!<BR>
		{% if user.is_authenticated %}
			<BR><A href="{% url 'add_category' %}">Add a New Category</A>
		{% else %}
			Log in, or Register to add it!
		{% endif %}
		</CENTER>
	{% endif %}
	
{% endblock %}

