{% extends 'rango/base.html' %}

{% load staticfiles %}


{% block body_block %}
	<TABLE align="center">
		<TR>
			<TH>Top Categories</TH>
			<TH>Top Pages</TH>
		</TR>
		<TR>
			<TD>
			 {% if categories %}
				<UL>
					{% for category in categories %}
					<LI><A href="/rango/category/{{ category.slug}}">{{ category.name }}</A></LI>
					{% endfor %}			
				</UL>
			{% else %}
				<STRONG>There are no categories present</STRONG>
			{% endif %}
			</TD>
			<TD>
			{% if pages %}
				<OL>
					{% for page in pages %}
					<LI><A href="{{ page.url }}" target="_blank">{{ page.title }} [{{ page.views }}]</A></LI>
					{% endfor %}
				</OL>
			{% else %}
				<STRONG>There are no pages present</STRONG>
			{% endif %}
			
			</TD>
		</TR>
	</TABLE>
	<BR><BR>
	<CENTER><P>Visits: {{ visits }}</P></CENTER>
{% endblock %}	


