<!DOCTYPE html>

{% load staticfiles %}

<HTML>

	<HEAD>
		<TITLE>Rango</TITLE>	
	</HEAD>
	
	<BODY><CENTER>
		<H1>Rango says... hello world!</H1>
		
		<TABLE>
			<TR>
				<TH>Top Categories</TH>
				<TH>Top Pages</TH>
			</TR>
			<TR>
				<TD>
				 {% if categories %}
					<UL>
						{% for category in categories %}
						<LI><A href="/rango/category/{{ category.slug}}">{{ category.name }}</A></LI>
						{% endfor %}			
					</UL>
				{% else %}
					<STRONG>There are no categories present</STRONG>
				{% endif %}
				</TD>
				<TD>
				{% if pages %}
					<OL>
						{% for page in pages %}
						<LI><A href="{{ page.url }}">{{ page.title }} [{{ page.views }}]</A></LI>
						{% endfor %}
					</OL>
				{% else %}
					<STRONG>There are no pages present</STRONG>
				{% endif %}
				
				</TD>
			</TR>
		</TABLE>
		
		<A href="/rango/about">About</A><BR>
		<BR>
		<IMG src="{% static "images/milka.jpg" %}" alt="Picture of Milka"/>
		
	
	
	</CENTER></BODY>





</HTML>
