<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
		<CENTER>
        <h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/rango/login/">

            {% csrf_token %}            
            <TABLE>
				<TR>
					<TD>Username:</TD>
					<TD><INPUT type="text" name="username" value="" size="50" /></TD>
				</TR>
				<TR>
					<TD>Password:</TD>
					<TD><INPUT type="password" name="password" value="" size="50" /></TD>
				</TR>
			</TABLE>
			<BR>
            <INPUT type="submit" name="submit" value="Log in" />            
        </form>
        
        <BR>
        {% if not user_is_active %}
        <FONT color="red">We are sorry but this account is suspended :(</FONT>
        {% elif login_failed %}
        <FONT color="red">Provided Username/Login did not match. Please try again.</FONT>
        {% endif %}
        </CENTER>
    </body>
</html>
