{% extends 'rango/base.html' %}

{% block title %}Register with Rango{% endblock %}

{% block body_block %}

	{% if registered %}
		Rango says: <STRONG>Thank You for registering</STRONG>
		<A href="/rango/">Return to Rango homepage</A><BR>
		
	{% else %}
		Rango says	<STRONG>Register here!</STRONG><BR>
		
	<FORM id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		
		<INPUT type="submit" name="submit" value="Register" />		
	</FORM>
	{% endif %}	
	
{% endblock %}
